body {
  color: #000000;
  background-color: #fdfffd;
  background-image: url('/img/leaf.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-weight: bold; }

small {
  font-size: .9em;
  color: #559b00;
}
small.blue { color: #9782ff; }
small.orange { color: #ffc970; }

a {
  color: #aa6a00;
  text-decoration: none;
}
a:active, a:visited { color: #aa6a00; }
a:hover { color: #ffc970; }

button, a.button {
  transition: background 0.1s ease-in-out;
  background: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
button:hover, .button:hover, button.active, .button.active {
  background: rgba(0, 0, 0, 0.2);
}
button.raised, .button.raised { box-shadow: 3px 3px 3px #999; }
button.blue, .button.blue, button.orange, .button.orange, button.red, .button.red {
  transition: background-color .1s ease-in-out;
}
button.blue, .button.blue {
  background-color: #4520ff;
  color: #ffffff;
}
button.blue:hover, .button.hover, button.blue.active .button.blue.active {
  background-color: #3510dd;
}
button.orange, .button.orange {
  background-color: #ff9f00;
  color: #ffffff;
}
button.orange:hover, .button.orange:hover, button.orange.active, .button.orange.active {
  background-color: #aa6a00;
}
button.red, .button.red {
  background-color: #ff0000;
  color: #ffffff;
}
button.red:hover, .button.red:hover, button.red.active, .button.red.active {
  background-color: #aa0000;
}
button.big, .button.big { padding: 15px; font-size: 1.3em; }
button.medium, .button.medium { margin-right: 15px; padding: 5px 10px; font-size: 1.1em; }
button.action, .button.action {
  padding: 15px;
  transition: background-color .1s ease-in-out, box-shadow .1s ease-in-out;
  box-shadow: 0px 0px 3px #999;
  border-radius: 500px;
}
button.action.big, .button.action.big {
  padding: 20px;
  font-size: 1.5em;
}
button.action:hover, .button.action:hover, button.action.active, .button.action.active {
  box-shadow: 0px 3px 5px #666;
}

label { display: block; }

header {
  color: #ffffff;
  background-color: #3a6900;
  box-shadow: 0px 3px 3px #999;
  font-size: 1.5em;
  line-height: 3em;
  vertical-align: middle;
  padding-left: 15px;
}
header a, header a:active, header a:visited, header a:hover {
  color: inherit;
}
header button, header .button {
  line-height: inherit;
  padding: 0px 15px;
}

section.body {
  height: calc(100vh - 3em);
  overflow-y: auto;
  z-index: -2;
}
section.body.splash {
  height: 100vh;
  background-image: url('/img/garden.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.body > h1 {
  width: 78%;
  max-width: 950px;
  margin: 30px auto;
}

.actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.popup {
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  max-height: 0px;
  overflow-y: hidden;
  transition: max-height .2s ease-in-out;
  box-shadow: 0px 0px 5px #666;
  z-index: 1;
}
.popup.expanded { max-height: 150px; }
.popup.medium { width: 200px; }

.popup.user {
  top: 3em;
  right: 0px;
}

.menu button, .menu .button {
  display: block;
  width: 100%;
  text-align: right;
}
.menu .button { width: initial; }

.right { float: right; }

.error {
  transition: opacity .1s ease-in-out;
  opacity: 1;
  color: #ff0000;
  padding: 5px;
  height: calc(1em + 5px);
}
.error:empty {
  opacity: 0;
}

.jumbo {
  max-width: 700px;
  text-align: right;
  margin: auto;
  margin-top: 250px;
  color: #ffffff;
  font-size: 1.3em;
}
.jumbo h1 { font-size: 3em; }
.jumbo h2 { font-size: 2em; }
.jumbo .buttons { margin-top: 20px; }
.jumbo input {
  padding: 15px;
  background-color: rgba(255, 255, 255, .4);
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: inherit;
}
.jumbo label { font-size: 1.3em; margin-bottom: 15px; }
.jumbo .login { margin-top: 50px; }

.entry {
  position: relative;
  margin: auto;
  padding: 15px;
  background-color: #ffffff;
  width: 80%;
  max-width: 1000px;
  transition: box-shadow 0.2s ease-in-out, max-width 0.1s ease-in-out;
  box-shadow: 0px 0px 3px #999;
}
.entry:hover { box-shadow: 0px 0px 5px #666; }
.entry.expanded {
  box-shadow: 0px 0px 5px #666;
  width: 90%;
  max-width: 1100px;
  margin: 15px auto;
}

.entry .content {
  font-size: 1.2em;
  display: none;
  margin-top: 15px;
}
.entry.expanded .content { display: block; }

.entry .buttons {
  position: absolute;
  right: -26px;
  bottom: -15px;
  display: none;
}
.entry.expanded .buttons { display: block; }

.entry .title {
  font-size: 1.3em;
  cursor: pointer;
}
.entry.editing .title {
  cursor: default;
}

.entry input, .entry textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 3px 5px;
}
.entry [name=src] {
  width: calc(100% - 13px);
  min-height: 400px;
}
.entry [name=tags] { width: calc(100% - 50px - 61px - 90px); }

.clear { clear: both; }
